{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<section class="bg-primary padding-y-sm">
    <div class="container">
        <ol class="breadcrumb ondark mb-0">
            <li class="breadcrumb-item"> <a href="#">Home</a>  </li>
            <li class="breadcrumb-item active"> Shopping cart  </li>
        </ol>
    </div> <!-- container //  -->
</section>


<section class="padding-y bg-light">
    <div class="container">

    <!-- =================== COMPONENT CART+SUMMARY ====================== -->
    <div class="row">
        <div class="col-lg-9">


            <div class="card">
            <div class="content-body">
                <h4 class="card-title mb-4">Your shopping cart</h4>
                {% for item in cart %}
                <article class="row gy-3 mb-4">
                    <div class="col-lg-5">
                        <figure class="itemside me-lg-5">
                            <div class="aside"><img src="{{ item.product.images.all.0.image.url }}" class="img-sm img-thumbnail"></div>
                            <figcaption class="info">
                                <strong><a href="#" class="title"> {{ item.product.name }} </a></strong>
                                <p class="text-muted"> {{ item.product.category }} </p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-auto">
                        <select style="width: 100px" class="form-select">
                            <option value=" {{ item.qty }} " selected>{{ item.qty }}</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="price-wrap lh-sm">
                            <var class="price h6">$ {{ item.sub_total }} </var>  <br>
                            <small class="text-muted"> $ {{ item.product.price }} / per item </small>
                        </div> <!-- price-wrap .// -->
                    </div>
                    <div class="col-lg col-sm-4">
                        <div class="float-lg-end">
                            <button type="submit" class="btn btn-light text-danger" id="remove-button" value="{{ item.product.id }}">
                                Remove
                            </button>
                        </div>
                    </div>
                </article> <!-- row.// -->
                {% endfor %}


            </div> <!-- card-body .// -->

            <div class="content-body border-top">
                <p><i class="me-2 text-muted fa-lg fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
            </div> <!-- card-body.// -->

            </div> <!-- card.// -->

        </div> <!-- col.// -->
        <aside class="col-lg-3">

            <div class="card mb-3">
            <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="form-label">Have coupon?</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="Coupon code">
                        <button class="btn btn-light">Apply</button>
                    </div>
                </div>
            </form>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->

            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-end"> ${{ cart.get_total_price|floatformat:2|intcomma }} </dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Discount:</dt>
                  <dd class="text-end text-success"> - $60.00 </dd>
                </dl>
                <dl class="dlist-align">
                  <dt>TAX:</dt>
                  <dd class="text-end"> $14.00 </dd>
                </dl>
                <hr>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-end text-dark h5"> $357.90 </dd>
                </dl>

                <div class="d-grid gap-2 my-3">
                    <a href="#" class="btn btn-success w-100"> Make Purchase </a>
                    <a href="#" class="btn btn-light w-100"> Back to shop </a>
                </div>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->

        </aside> <!-- col.// -->

    </div> <!-- row.// -->
    <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->

    <br><br>

    </div> <!-- container .//  -->
</section>

<section class="padding-y border-top">
    <div class="container">
        <header class="section-heading">
            <h4 class="section-title">Recommended items</h4>
        </header>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <span class="topbar">
                            <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
                            <span class="badge bg-danger"> New </span>
                        </span>
                        <a href="#"><img src="images/items/7.jpg"></a>
                    </div>
                    <figcaption class="info-wrap border-top">
                        <a href="#" class="title">Gaming Headset with Mic</a>
                            <div class="price-wrap mb-3">
                                <strong class="price">$18.95</strong>
                                <del class="price-old">$24.99</del>
                            </div> <!-- price-wrap.// -->
                            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col.// -->
            <div class="col-lg-3 col-sm-6 col-12">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <span class="topbar">
                            <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
                        </span>
                        <a href="#"><img src="images/items/8.jpg"></a>
                    </div>
                    <figcaption class="info-wrap border-top">
                        <a href="#" class="title">Apple Watch Series 1 Sport </a>
                        <div class="price-wrap mb-3">
                            <strong class="price">$120.00</strong>
                        </div> <!-- price-wrap.// -->
                        <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col.// -->
            <div class="col-lg-3 col-sm-6 col-12">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <span class="topbar">
                            <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
                        </span>
                        <a href="#"><img src="images/items/9.jpg"></a>
                    </div>
                    <figcaption class="info-wrap border-top">
                        <a href="#" class="title"> Men's Denim Jeans Shorts  </a>
                        <div class="price-wrap mb-3">
                            <strong class="price">$80.50</strong>
                        </div> <!-- price-wrap.// -->
                        <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col.// -->
            <div class="col-lg-3 col-sm-6 col-12">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <span class="topbar">
                            <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
                        </span>
                        <a href="#"><img src="images/items/10.jpg"></a>
                    </div>
                    <figcaption class="info-wrap border-top">
                        <a href="#" class="title text-truncate">Mens T-shirt Cotton Base Layer Slim fit </a>
                        <div class="price-wrap mb-3">
                            <strong class="price">$13.90</strong>
                        </div> <!-- price-wrap.// -->
                        <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>


<script>
    $(document).on('click', '#remove-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'remove' %}",
            data: {
                productid: $('#remove-button').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
          },
          success: function(json){
            document.getElementById("cart-qty").innerHTML = json.qty
          }
        })
    })
</script>
{% endblock content %}