{% extends 'base.html' %}
{% block content %}
<section class="bg-primary padding-y-sm">
    <div class="container">

      <ol class="breadcrumb ondark mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">{{product.category.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{ product.name }} </li>
      </ol>

    </div> <!-- container //  -->
</section>

<section class="padding-y">
    <div class="container">

    <div class="row">
    <aside class="col-lg-6">
      <article class="gallery-wrap">
        <div class="img-big-wrap img-thumbnail">
           <a data-fslightbox="mygalley" data-type="image" href="{{ product.images.all.0.image.url }}">
              <img height="560" src=" {{ product.images.all.0.image.url }} ">
           </a>
        </div> <!-- img-big-wrap.// -->
        <div class="thumbs-wrap">

          {% for productImage in product.images.all %}
          <a data-fslightbox="mygalley" data-type="image" href=" {{ productImage.image.url }} " class="item-thumb">
            <img width="60" height="60" src=" {{ productImage.image.url }} ">
          </a>
          {% endfor %}

        </div> <!-- thumbs-wrap.// -->
      </article> <!-- gallery-wrap .end// -->
    </aside>
    <main class="col-lg-6">
      <article class="ps-lg-3">
        <h4 class="title text-dark"> {{ product.name }} </h4>
        <div class="rating-wrap my-3">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> <img src="images/misc/stars-active.svg" alt=""> </li>
            <li> ⭐ </li>
          </ul>
          <b class="label-rating text-warning"> 4.5</b>
           .
          <span class="label-rating text-muted"> <i class="fa-solid fa-cart-circle-check"></i> 154 orders </span>
           .
          <span class="label-rating text-success">In stock</span>
        </div> <!-- rating-wrap.// -->

        <div class="mb-3">
          <var class="price h5">TK {{product.price}}</var>
        </div>

        <p>Modern look and quality demo item is a streetwear-inspired collection that continues to break away from the conventions of mainstream fashion. Made in Italy, these black and brown clothing low-top shirts for men.</p>

        <dl class="row">
          <dt class="col-3">Type:</dt>
          <dd class="col-9">Regular</dd>

          <dt class="col-3">Color</dt>
          <dd class="col-9">Brown</dd>

          <dt class="col-3">Material</dt>
          <dd class="col-9">Cotton, Jeans </dd>

          <dt class="col-3">Brand</dt>
          <dd class="col-9">Reebook </dd>
        </dl>

        <hr>

        <div class="row mb-4">
          <div class="col-md-4 col-6 mb-2">
            <label class="form-label">Size</label>
            <select class="form-select">
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
            </select>
          </div> <!-- col.// -->
          <div class="col-md-4 col-6 mb-3">
            <label class="form-label d-block">Quantity</label>
            <div class="input-group input-spinner">
              <button class="btn btn-icon btn-light" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                    <path d="M19 13H5v-2h14v2z"></path>
                  </svg>
              </button>
              <input name = "quantity" id="quantity" class="form-control text-center" placeholder="" value=" {{ qty }} ">
              <button class="btn btn-icon btn-light" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                  </svg>
              </button>
            </div> <!-- input-group.// -->
          </div> <!-- col.// -->
        </div> <!-- row.// -->

        <a href="#" class="btn  btn-warning"> Buy now </a>
        <button class = "btn btn-success" type="submit" id="add-button" value="{{ product.id }}">Add To Cart</button>
        <a href="#" class="btn  btn-light"> <i class="me-1 fa fa-heart"></i> Save </a>

      </article> <!-- product-info-aside .// -->
    </main> <!-- col.// -->
    </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>


<section class="padding-y bg-light border-top">
    <div class="container">
    <div class="row">
      <div class="col-lg-8">
    <!-- =================== COMPONENT SPECS ====================== -->
    <div class="card">
      <header class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a href="#" data-bs-target="#tab_specs" data-bs-toggle="tab" class="nav-link active">Specification</a>
          </li>
          <li class="nav-item">
            <a href="#" data-bs-target="#tab_warranty" data-bs-toggle="tab" class="nav-link">Warranty info</a>
          </li>
          <li class="nav-item">
            <a href="#" data-bs-target="#tab_shipping" data-bs-toggle="tab" class="nav-link">Shipping info</a>
          </li>
          <li class="nav-item">
            <a href="#" data-bs-target="#tab_seller" data-bs-toggle="tab" class="nav-link">Seller profile</a>
          </li>
        </ul>
      </header>
      <div class="tab-content">
        <article id="tab_specs" class="tab-pane show card-body active">
          <p>With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          <ul class="list-check cols-two">
            <li>Some great feature name here </li>
            <li>Lorem ipsum dolor sit amet, consectetur </li>
            <li>Duis aute irure dolor in reprehenderit </li>
            <li>Optical heart sensor </li>
            <li>Easy fast and ver good </li>
            <li>Some great feature name here </li>
            <li>Modern style and design</li>
          </ul>
          <table class="table border table-hover">
            <tbody><tr>
              <th>  Display: </th> <td> 13.3-inch LED-backlit display with IPS </td>
            </tr>
            <tr>
              <th>  Processor capacity: </th> <td> 2.3GHz dual-core Intel Core i5 </td>
            </tr>
            <tr>
              <th>  Camera quality: </th> <td>720p FaceTime HD camera  </td>
            </tr>
            <tr>
              <th>  Memory </th> <td> 8 GB RAM or 16 GB RAM </td>
            </tr>
            <tr>
              <th>  Graphics </th> <td> Intel Iris Plus Graphics 640 </td>
            </tr>
          </tbody></table>
      </article> <!-- tab-content.// -->
      <article id="tab_warranty" class="tab-pane card-body">
        Tab content or sample information now <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      </article>
      <article id="tab_shipping" class="tab-pane card-body">
        Another tab content  or sample information now <br>
        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </article>
      <article id="tab_seller" class="tab-pane card-body">
        Some other tab content  or sample information now <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </article>
      </div>
    </div>
    <!-- =================== COMPONENT SPECS .// ================== -->
      </div> <!-- col.// -->
      <aside class="col-lg-4">
    <!-- =================== COMPONENT ADDINGS ====================== -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Similar items</h5>

            {% for product in similar %}
            <article class="itemside mb-3">
              <a href="#" class="aside">
                <img src="{{product.images.all.0.image.url}}" width="96" height="96" class="img-md img-thumbnail">
              </a>
              <div class="info">
                <a href="#" class="title mb-1"> {{ product.name }} </a>
                <strong class="price"> TK {{product.price}}</strong> <!-- price.// -->
                <p> {{ product.category.name }} </p>
              </div>
            </article>
            {% endfor %}

          </div> <!-- card-body .// -->
        </div> <!-- card .// -->
    <!-- =================== COMPONENT ADDINGS .// ================== -->
      </aside> <!-- col.// -->
    </div>

    <br><br>

    </div><!-- container // -->
</section>

<script>
  $(document).on('click', '#add-button', function (e) {
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: "{% url 'basket_add' %}",
          data: {
            productid: $('#add-button').val(),
            product_qty: $('#quantity').val(),
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
        },
        success: function(json){
          document.getElementById("cart-qty").innerHTML = json.qty
        }
      })
  })
</script>

{% endblock content %}

