{% extends 'base.html' %}
{% block navbar %}
    {% include 'header.html' %}
{% endblock navbar %}
{% block content %}
<!-- ================ SECTION INTRO ================ -->
<section class="section-intro padding-top-sm">
	<div class="container">
	<main class="card p-3">
		<div class="row">
			<aside class="col-lg-3">
				<nav class="nav flex-column nav-pills">
				  	{% for category in categories %}
					  	{% if forloop.counter == 1 %}
						  <a class="nav-link active" aria-current="page" href="#">Electronics</a>
						{% else %}
						  <a class="nav-link" href="#"> {{ category.name }} </a>
						{% endif %}
				  	{% endfor %}
				</nav>
			</aside>
			<div class="col-lg-9">
				<article class="card-banner p-5 bg-primary" style="height: 360px">
					<div style="max-width: 500px">
			        <h2 class="text-white">Great products with <br> best deals </h2>
			        <p class="text-white">No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
			        <a href="{% url 'products' %}" class="btn btn-warning"> View more </a>
			        </div>
				</article>
			</div>
		</div>
	</main>
	</div> <!-- container end.// -->
</section>
<!-- ================ SECTION INTRO END.// ================ -->


<!-- ================ SECTION PRODUCTS ================ -->
<section class="padding-top">
<div class="container">

	<header class="section-heading">
		<h3 class="section-title">New products</h3>
	</header>

	<div class="row">
		{% for product in products %}
		<div class="col-lg-3 col-md-6 col-sm-6">
			<figure class="card card-product-grid">
				<a href="{% url 'productDetail' product.id %}" class="img-wrap">
					<span class="topbar"> <b class="badge bg-success"> Offer </b> </span>
					<img src=" {{ product.images.all.0.image.url }} ">
				</a>
				<figcaption class="info-wrap border-top">
					<a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
					<a href="#" class="title text-truncate"> {{ product.name }} </a>
					{% if product.category.name == 'Clothes and Wears' %}
					<small class="text-muted">Sizes: S, M, XL</small>
					{% else %}
					<br>
					{% endif %}
					<div class="price-wrap">
						<span class="price">$15.90</span> <del class="price-old">$20</del>
					</div> <!-- price-wrap.// -->
				</figcaption>
			</figure>
		</div> <!-- col end.// -->
		{% endfor %}

	</div> <!-- row end.// -->

</div> <!-- container end.// -->
</section>
<!-- ================ SECTION PRODUCTS END.// ================ -->


<!-- ================ SECTION FEATURE ================ -->
<section class="padding-top">
<div class="container">
	<div class="row gy-4">
		<aside class="col-lg-6">
		  <article class="card-banner bg-gray h-100" style="min-height: 200px">
		    <div class="p-3 p-lg-5"  style="max-width:70%">
		      <h3> Best products & brands in our store at 80% off</h3>
		      <p>That's true but not always</p>
		      <a class="btn btn-warning" href="#"> Claim offer </a>
		    </div>
		    <img src="images/banners/banner-item2.jpg" height="350" class="img-bg">
		  </article>
		</aside> <!-- col.// -->
		<aside class="col-lg-6">

		  <div class="row mb-4">
		    <div class="col-6">
		      <article class="card bg-primary" style="min-height: 200px">
		        <div class="card-body">
		          <h5 class="text-white">Gaming toolset</h5>
		          <p class="text-white-50">Technology for cyber sport  </p>
		          <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
		        </div>
		      </article>
		    </div>
		    <div class="col-6">
		      <article class="card bg-primary" style="min-height: 200px">
		        <div class="card-body">
		          <h5 class="text-white">Quality sound</h5>
		          <p class="text-white-50">All you need for music</p>
		          <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
		        </div>
		      </article>
		    </div>
		  </div> <!-- row.// -->

		  <article class="card bg-success" style="min-height: 200px">
		    <div class="card-body">
		      <h5 class="text-white">Buy 2 items, With special gift</h5>
		      <p class="text-white-50" style="max-width:400px;">Buy one, get one free marketing strategy helps your business improves the brand by sharing the profits </p>
		      <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
		    </div>
		  </article>

		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- container end.// -->
</section>
<!-- ================ SECTION FEATURE END.// ================ -->

<!-- ================ SECTION PRODUCTS ================ -->
<section class="padding-top">
<div class="container">

	<header class="section-heading">
		<h3 class="section-title">Recently viewed</h3>
	</header>

	<div class="row gy-3">
		<div class="col-lg-2 col-md-4 col-4">
			<a href="#" class="img-wrap">
				<img height="200" width="200" class="img-thumbnail" src="images/items/1.jpg">
			</a>
		</div> <!-- col.// -->
		<div class="col-lg-2 col-md-4 col-4">
			<a href="#" class="img-wrap">
				<img height="200" width="200" class="img-thumbnail" src="images/items/2.jpg">
			</a>
		</div> <!-- col.// -->
		<div class="col-lg-2 col-md-4 col-4">
			<a href="#" class="img-wrap">
				<img height="200" width="200" class="img-thumbnail" src="images/items/3.jpg">
			</a>
		</div> <!-- col.// -->
		<div class="col-lg-2 col-md-4 col-4">
			<a href="#" class="img-wrap">
				<img height="200" width="200" class="img-thumbnail" src="images/items/4.jpg">
			</a>
		</div> <!-- col.// -->
		<div class="col-lg-2 col-md-4 col-4">
			<a href="#" class="img-wrap">
				<img height="200" width="200" class="img-thumbnail" src="images/items/5.jpg">
			</a>
		</div> <!-- col.// -->
		<div class="col-lg-2 col-md-4 col-4">
			<a href="#" class="img-wrap">
				<img height="200" width="200" class="img-thumbnail" src="images/items/6.jpg">
			</a>
		</div> <!-- col.// -->
	</div> <!-- row end.// -->

</div> <!-- container end.// -->
</section>
<!-- ================ SECTION PRODUCTS END.// ================ -->

<section class="padding-y">
  <div class="container">
	<article class="card p-3 p-lg-5">
		<div class="row g-3">
			<div class="col-lg-3 col-md-6">
			<figure class="icontext">
				<div class="icon">
					<span class="icon-sm bg-warning-light text-warning rounded">
						<i class="fa fa-thumbs-up"></i>
					</span>
				</div>
				<figcaption class="text">
					<h6 class="title">Reasonable prices</h6>
					<p>Have you ever finally just  </p>
				</figcaption>
			</figure> <!-- icontext // -->
			</div><!-- col // -->
			<div class="col-lg-3 col-md-6">
			<figure class="icontext">
				<div class="icon">
					<span class="icon-sm bg-warning-light text-warning rounded">
						<i class="fa fa-plane"></i>
					</span>
				</div>
				<figcaption class="text">
					<h6 class="title">Worldwide shipping</h6>
					<p>Have you ever finally just  </p>
				</figcaption>
			</figure> <!-- icontext // -->
			</div><!-- col // -->
			<div class="col-lg-3 col-md-6">
			<figure class="icontext">
				<div class="icon">
					<span class="icon-sm bg-warning-light text-warning rounded">
						<i class="fa fa-star"></i>
					</span>
				</div>
				<figcaption class="text">
					<h6 class="title">Best ratings</h6>
					<p>Have you ever finally just  </p>
				</figcaption>
			</figure> <!-- icontext // -->
			</div> <!-- col // -->
			<div class="col-lg-3 col-md-6">
			<figure class="icontext">
				<div class="icon">
					<span class="icon-sm bg-warning-light text-warning rounded">
						<i class="fa fa-phone"></i>
					</span>
				</div>
				<figcaption class="text">
					<h6 class="title">Help center</h6>
					<p>Have you ever finally just  </p>
				</figcaption>
			</figure> <!-- icontext // -->
			</div> <!-- col // -->
		</div> <!-- row // -->
	</article>
  </div><!-- //container -->
</section>
{% endblock content %}